:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto"
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.clickable {
  cursor: pointer
}

.food-list {
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

#search {
  width: 25vw;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#06748a
}

.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
}

.new-dog-btn {
  margin:0 auto;
  display: block;
}

.new-dog {
  padding-top: 40px;
}


.food-form {
  padding-top: 20px;
  width: 40vw;
  margin: auto;
}

.dog-form {
  margin: auto;
  width: 65vw;
}

input[type="radio"]{
  margin-right: 25px;
}

.boxed {
  border: 1px dashed green
}

.summary-entries {
  display: flex;
  justify-content: space-around;
}

.summary-headers {
  padding-top: 45px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #06748a
}

.exercise-entries{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black
}

.food-entries{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black
}

.analysis{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 45px;
}

.graph-header{
  text-align: center;
}

.calorie-estimate {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 35px;
}

.summary-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
}

.weight-and-behavior {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto
}


.dog-card{
  height: 60vh;
  font-family: "Roboto";
  font-weight: bold;
}

.dog-card-subtitle{
  padding-top: 5px;
  text-align: center;
}

.dog-card-text{
  padding-top: 5px;
  text-align: center;
}

.dog-card-image{
  display: block;
  margin: auto;
}

.exercises-btn{
  margin-right: 5px;
}


button {
  font-family: "Roboto";
  background-color:#f4b342;
}

.food-card {
  padding-top: 15px;
  padding-right: 1px;
  padding-bottom: 15px;
}

div {
  font-family: "Roboto";
}

.border {
  border: 1px solid black
}

.entry-padding {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.green {
  color: #06748a
}

.orange{
  color: #cc4e00
}

.nav-orange{
  color: #cc4e00;
  background-color: #e8f2ef
}

.background-image-list {
  background-image: url("./components/images/measuring-tape-image.jpg");
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: center;
  padding-top: 20px;
  height: 40vh;
  -webkit-text-stroke: 1px black;
}

.h1-list {
  padding-top: 60px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;;
}


a{
  color: #cc4e00 !important
}

h2 h3 {
  color: #06748a
}

.entry-border{
  border: 1px dashed gray
}

.dog-header{
  padding-top: 80px;
  font-weight: bold;
  text-decoration: underline;
}
