:root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.clickable {
  cursor: pointer
}

.food-list {
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

#search {
  width: 25vw;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}


h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-buttons {
  margin: auto;
  width: 65vw;
  padding-top: 25px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.new-dog {
  margin: auto;
}

.food-form {
  padding-top: 20px;
  width: 40vw;
  margin: auto;
}

.dog-form {
  margin: auto;
  width: 65vw;
}

input[type="radio"]{
  margin-right: 25px;
}

.boxed {
  border: 1px dashed green
}

.summary-entries {
  display: flex;
  justify-content: space-around;
}

.summary-headers {
  padding-top: 45px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.exercise-entries{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black
}

.food-entries{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black
}

.analysis{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 45px;
}

.graph-header{
  text-align: center;
}

.calorie-estimate {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 35px;
}

.summary-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
}

.weight-and-behavior {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto
}
